@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
@import "./mixin.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  background-color: #fcfeff;
}

main {
  padding: 2rem;
}

h1 {
  font-weight: 800;
  font-size: 3rem;

  @include media-xs {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;

  @include media-xs {
    font-size: 2rem;
  }
}

h3 {
  font-weight: 400;
  font-size: 2rem;

  @include media-xs {
    font-size: 1.5rem;
  }
}

p {
  font-weight: 400;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

.text-accent {
  color: $accent-color;
}

.spacer-lg {
  height: 32px;
}

.spacer-md {
  height: 20px;
}

.spacer-sm {
  height: 12px;
}

.center-col {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
  height: auto;
  width: calc(100% - 2rem);
}
