@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
@import './mixin.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  background-color: #fcfeff;
}

main {
  padding: 2rem;
}

h1 {
  font-weight: 800;
  font-size: 3rem;

  @include media-xs {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;

  @include media-xs {
    font-size: 2rem;
  }
}

h3 {
  font-weight: 400;
  font-size: 2rem;

  @include media-xs {
    font-size: 1.5rem;
  }
}

p {
  font-weight: 400;
  font-size: 1.6rem;

  @include media-xs {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  &:hover {
    @include hover-effect;
  }
}

.text-secondary {
  color: $secondary-color;
}

.text-accent {
  color: $accent-color;
}

.spacer-lg {
  height: 32px;
}

.spacer-md {
  height: 20px;
}

.spacer-sm {
  height: 12px;
}
