$primary-color: #0081a7;
$secondary-color: #00afb9;
$accent-color: #f07167;

@mixin media-xs {
  @media screen and (min-width: 320px) {
    @content;
  }
}
@mixin media-sm {
  @media screen and (min-width: 400px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@mixin max-width {
  max-width: 1440px;
  margin: 0 auto;
}
