@import "../mixin.scss";

.auth {
  max-width: 35rem;
  height: 58rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
  margin: 2rem auto 0;

  .login {
    width: 100%;
    height: 100%;
    padding: 0 4rem;

    &-title {
      color: $primary-color;
      font-size: 2.5rem;
      font-weight: 600;
      margin: 2rem 0 3rem;
      text-align: center;
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-input {
      width: 100%;
      margin: 1rem 0;
      font-size: 1.6rem;
      padding: 1rem;
      border: none;
      border-bottom: 1.5px solid $secondary-color;
      color: $primary-color;
    }

    &-error {
      font-size: 1.2rem;
      align-self: flex-start;
      color: $accent-color;
    }
  }

  .signup {
    height: 55rem;
    width: 100%;
    background: $primary-color;
    border-radius: 60% / 10%;
    transform: translateY(-100px);
    transition: 0.8s ease-in-out;
    padding: 3rem 4rem 0;

    &-show {
      transform: translateY(-490px);
    }

    &-title {
      color: #fff;
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      text-align: center;
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-input {
      width: 100%;
      margin: 1rem;
      font-size: 1.6rem;
      padding: 1rem;
      border: none;
      color: $primary-color;
    }

    &-error {
      font-size: 1.2rem;
      align-self: flex-start;
      color: #fff;
    }
  }
}

@include media-sm {
  .auth {
    .signup {
      &-title {
        font-size: 2.5rem;
      }
    }
  }
}
