@import '../mixin.scss';

.no-spending-container {
  @include section-container;
  @include center-col;
}

.spending-list-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1rem;
  width: 100%;
  text-align: center;
}
