@import '../../mixin.scss';

.container {
  @include center-col;
  background: rgba(240, 113, 103, 0.4);
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 8rem 2rem 4rem;
  width: 85vw;
  margin: 5rem auto 2rem;
  position: relative;

  @include media-md {
    width: 60%;
    padding: 3rem 4rem;
    @include center-row;
  }

  img {
    object-fit: contain;
    width: 15rem;
    height: auto;
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);

    @include media-md {
      top: 0;
      left: -5rem;
      transform: translateX(0);
    }
  }
}

.message {
  h2 {
    padding: 1rem;
  }

  a {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin: 0.5rem 0;

    @include media-md {
      margin: 0rem 0.5rem;
    }
  }

  a:hover {
    @include hover-effect;
  }

  .buttons {
    @include center-col;

    @include media-md {
      @include center-row;
    }
  }
}
