@import "../../mixin.scss";

.btn {
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  margin: 0 0.5rem;
  background-color: $accent-color;
  border: none;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  &:hover,
  &:active {
    background-color: #d65151;
  }

  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background-color: #ccc;
    color: #979797;
    cursor: not-allowed;
  }

  &-sm {
    font-size: 1.2rem;
  }

  &-lg {
    font-size: 2rem;
  }
}
