@import '../../mixin.scss';

.header {
  width: 100%;
  background-color: $primary-color;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    font-size: 2rem;
  }

  a:hover {
    opacity: 0.9;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: white;
    font-size: 1.2rem;
    padding-right: 1rem;
  }
}
